/* ------------------- Patterns ------------------- */

html, body, div 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    border: 0;
    padding: 0;

    background-color: #36393f;
    color: white;
}

html, body
{
    height: 100%;
    width: 100%;
}

input 
{
    padding: 1em;
    border-radius: 0.5em;
    border: 0em;
    margin: 1em;
}

a
{
    color: aqua;
}

#page
{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.form_item
{
    flex-direction: row;
    align-items: center;
}