/* ------------------- Menu ------------------- */

#nav 
{
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: brown;
    top: 0;    

    justify-content: space-around;
    align-items: center;
}