/* ------------------- Menu ------------------- */

#sidebar 
{
    height: 100%;
    width: 8em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3136;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
    align-items: flex-start;
}

.item-sidebar
{
    flex-grow: 1;
    align-items: center;
    background-color: #2f3136;
    width: 100%;
    height: auto;
}

#logo-sidebar
{
    width: 6em;
    border-radius: 1em;
}

.href-sidebar
{
    width: 3em;
}